@mixin card-mobile
    display: flex
    flex-direction: column
    justify-content: space-between
    width: 195px 
    height: 320px

@mixin card-pc
    display: flex
    flex-direction: column
    justify-content: space-between
    width: 215px 
    height: 350px

        
@mixin carousel-cards-mobile
    width: 330px
    height: 440px
    border-radius: 16px