* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #121212;
  font-family: 'Jost', sans-serif;
  color: #F5F5F5;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.carousel-cards-mobile, .first-swipe .swiper-wrapper .first-card, .first-swipe .swiper-wrapper .second-card, .first-swipe .swiper-wrapper .third-card, .first-swipe .swiper-wrapper .fourth-card, .first-swipe .swiper-wrapper .fifth-card, .first-swipe .swiper-wrapper .sixth-card {
  width: 330px;
  height: 440px;
  border-radius: 16px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.carousel-cards-mobile .detail, .first-swipe .swiper-wrapper .first-card .detail, .first-swipe .swiper-wrapper .second-card .detail, .first-swipe .swiper-wrapper .third-card .detail, .first-swipe .swiper-wrapper .fourth-card .detail, .first-swipe .swiper-wrapper .fifth-card .detail, .first-swipe .swiper-wrapper .sixth-card .detail {
  height: 195px;
  width: 100%;
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #f5f5f5;
}

.carousel-cards-mobile .detail .coming-date, .first-swipe .swiper-wrapper .first-card .detail .coming-date, .first-swipe .swiper-wrapper .second-card .detail .coming-date, .first-swipe .swiper-wrapper .third-card .detail .coming-date, .first-swipe .swiper-wrapper .fourth-card .detail .coming-date, .first-swipe .swiper-wrapper .fifth-card .detail .coming-date, .first-swipe .swiper-wrapper .sixth-card .detail .coming-date {
  font-size: 10px;
  margin-bottom: 8px;
  font-weight: 600;
}

.carousel-cards-mobile .detail .game-info, .first-swipe .swiper-wrapper .first-card .detail .game-info, .first-swipe .swiper-wrapper .second-card .detail .game-info, .first-swipe .swiper-wrapper .third-card .detail .game-info, .first-swipe .swiper-wrapper .fourth-card .detail .game-info, .first-swipe .swiper-wrapper .fifth-card .detail .game-info, .first-swipe .swiper-wrapper .sixth-card .detail .game-info {
  font-size: 16px;
  margin-bottom: 25px;
  line-height: 20px;
}

.carousel-cards-mobile .detail .start-price, .first-swipe .swiper-wrapper .first-card .detail .start-price, .first-swipe .swiper-wrapper .second-card .detail .start-price, .first-swipe .swiper-wrapper .third-card .detail .start-price, .first-swipe .swiper-wrapper .fourth-card .detail .start-price, .first-swipe .swiper-wrapper .fifth-card .detail .start-price, .first-swipe .swiper-wrapper .sixth-card .detail .start-price {
  font-size: 15px;
}

.carousel-cards-mobile .detail .price, .first-swipe .swiper-wrapper .first-card .detail .price, .first-swipe .swiper-wrapper .second-card .detail .price, .first-swipe .swiper-wrapper .third-card .detail .price, .first-swipe .swiper-wrapper .fourth-card .detail .price, .first-swipe .swiper-wrapper .fifth-card .detail .price, .first-swipe .swiper-wrapper .sixth-card .detail .price {
  font-size: 17px;
}

.sale-cards-size, .game-sale .sale-carousel .voidtrain-sale, .game-sale .sale-carousel .dead-cells-sale, .game-sale .sale-carousel .warshmallows-sale {
  width: 305px;
  height: 235px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sale-cards-size img, .game-sale .sale-carousel .voidtrain-sale img, .game-sale .sale-carousel .dead-cells-sale img, .game-sale .sale-carousel .warshmallows-sale img {
  height: 170px;
  border-radius: 5px;
}

.sale-box, .new-release-card .game-detail div .p-sale-button, .third-swipe .swiper-third .car-tuning .game-detail div .p-sale-button, .default-card-size .game-detail div .p-sale-button, .fourth-swipe .swiper-fourth .game-detail div .p-sale-button, .game-sale .sale-carousel .voidtrain-sale div a, .game-sale .sale-carousel .dead-cells-sale div a, .game-sale .sale-carousel .warshmallows-sale div a {
  background-color: #0078f2;
  padding: 5px 10px;
  color: #F5F5F5;
  width: 45px;
  font-size: 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  letter-spacing: 0.6px;
}

.more-button, .text-button a, .free-section .free-text-button a, .third-swipe .swiper-third .free-text-button a, .game-sale .text-button a {
  padding: 5px 15px;
  font-size: 12px;
  color: #F5F5F5;
  text-transform: uppercase;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #F5F5F5;
  border-radius: 4px;
  letter-spacing: 0.8px;
}

.free-cards-size, .free-section .free-game-list .gods-fall-sale, .free-section .free-game-list .galactic-civ-sale {
  width: 315px;
  height: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.free-cards-size .image-free, .free-section .free-game-list .gods-fall-sale .image-free, .free-section .free-game-list .galactic-civ-sale .image-free {
  position: relative;
  width: 305px;
  height: 195px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 5px;
}

.free-cards-size .image-free p, .free-section .free-game-list .gods-fall-sale .image-free p, .free-section .free-game-list .galactic-civ-sale .image-free p {
  position: absolute;
  bottom: 0;
  text-transform: uppercase;
  background-color: #0078f2;
  width: 100%;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  padding: 4px 0;
  border-radius: 0 0 5px 5px;
}

.text-button, .free-section .free-text-button, .third-swipe .swiper-third .free-text-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.text-button .icon-text, .free-section .free-text-button .icon-text, .third-swipe .swiper-third .free-text-button .icon-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text-button .icon-text .fa-gift, .free-section .free-text-button .icon-text .fa-gift, .third-swipe .swiper-third .free-text-button .icon-text .fa-gift {
  font-size: 30px;
}

.text-button .icon-text h6, .free-section .free-text-button .icon-text h6, .third-swipe .swiper-third .free-text-button .icon-text h6 {
  font-size: 18px;
  font-weight: 400;
}

.text-button a, .free-section .free-text-button a, .third-swipe .swiper-third .free-text-button a {
  font-weight: 500;
  font-size: 10px;
  padding: 8px 15px;
}

.new-release-card, .third-swipe .swiper-third .car-tuning {
  width: 235px;
  height: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  padding-left: 15px;
  margin-bottom: 25px;
}

.new-release-card img, .third-swipe .swiper-third .car-tuning img {
  width: 48px;
  border-radius: 3px;
}

.new-release-card .game-detail h6, .third-swipe .swiper-third .car-tuning .game-detail h6 {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.6px;
  margin-bottom: 4px;
}

.new-release-card .game-detail .new-epic-button, .third-swipe .swiper-third .car-tuning .game-detail .new-epic-button {
  background-color: #2a2a2a;
  padding: 5px 10px;
  color: #F5F5F5;
  font-size: 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.new-release-card .game-detail div, .third-swipe .swiper-third .car-tuning .game-detail div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.new-release-card .game-detail div p, .third-swipe .swiper-third .car-tuning .game-detail div p {
  font-size: 12px;
}

.new-release-card .game-detail div .sale-price, .third-swipe .swiper-third .car-tuning .game-detail div .sale-price {
  color: #F5F5F599;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
}

.new-release-card .game-detail div .grey-text, .third-swipe .swiper-third .car-tuning .game-detail div .grey-text {
  color: #F5F5F599;
}

.default-card-size, .fourth-swipe .swiper-fourth {
  margin-top: 20px;
  width: 215px;
  height: 350px;
}

.default-card-size img, .fourth-swipe .swiper-fourth img {
  width: 100%;
  border-radius: 4px;
}

.default-card-size .game-detail, .fourth-swipe .swiper-fourth .game-detail {
  margin-top: 10px;
  padding-left: 3px;
}

.default-card-size .game-detail h6, .fourth-swipe .swiper-fourth .game-detail h6 {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.6px;
  margin-bottom: 4px;
}

.default-card-size .game-detail .new-epic-button, .fourth-swipe .swiper-fourth .game-detail .new-epic-button {
  background-color: #2a2a2a;
  padding: 5px 10px;
  color: #F5F5F5;
  font-size: 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.default-card-size .game-detail div, .fourth-swipe .swiper-fourth .game-detail div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.default-card-size .game-detail div p, .fourth-swipe .swiper-fourth .game-detail div p {
  font-size: 12px;
}

.default-card-size .game-detail div .sale-price, .fourth-swipe .swiper-fourth .game-detail div .sale-price {
  color: #F5F5F599;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
}

.default-card-size .game-detail div .grey-text, .fourth-swipe .swiper-fourth .game-detail div .grey-text {
  color: #F5F5F599;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 55px;
  background-color: #2a2a2a;
  padding-left: 15px;
}

header .navbar img {
  width: 30px;
  z-index: 11;
}

header .navbar .hamburger-menu {
  width: 55px;
  height: 55px;
  background-color: #0078f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 10px 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 11;
}

header .navbar .hamburger-menu .line {
  width: 35px;
  height: 2px;
  background-color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.right-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 340px;
  height: 100%;
  background-color: #2a2a2a;
  position: fixed;
  z-index: 10;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  top: 0;
}

.right-bar ul {
  margin-top: 55px;
}

.right-bar ul li {
  padding: 8px 28px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.right-bar ul li a {
  color: #E7E7E7;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 2px;
}

.right-bar div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.right-bar div .sign-lang {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 50px;
}

.right-bar div .sign-lang .sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 30px;
  width: 65%;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.right-bar div .sign-lang .sign i {
  color: #ccc;
  font-size: 25px;
}

.right-bar div .sign-lang .sign p {
  color: #E7E7E7;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 9px;
  letter-spacing: 1px;
}

.right-bar div .sign-lang .lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 35%;
}

.right-bar div .sign-lang .lang i {
  color: #ccc;
  font-size: 25px;
}

.right-bar div a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #0078f2;
  height: 55px;
  text-transform: uppercase;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  letter-spacing: 1px;
}

.search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #121212;
  width: 100%;
  height: 80px;
  color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9;
}

.search-bar .fa-search {
  color: grey;
  font-size: 18px;
  position: absolute;
  left: 30px;
}

.search-bar div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.search-bar div p {
  font-size: 14px;
}

.search-bar div .fa-chevron-down {
  font-size: 12px;
  margin-left: 10px;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.discover-menu {
  height: 235px;
  background-color: #121212;
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
  padding: 27px 12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 9;
}

.discover-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.discover-menu ul li {
  padding-bottom: 20px;
  font-size: 14px;
}

.discover-menu ul li:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.103);
}

.discover-menu ul li a {
  color: white;
}

.first-swipe {
  height: 480px;
}

.first-swipe .swiper-wrapper .first-card {
  margin-right: 15px !important;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#36333300), to(#000000b6)), url("../image/gow.jpg");
  background-image: linear-gradient(#36333300, #000000b6), url("../image/gow.jpg");
}

.first-swipe .swiper-wrapper .second-card {
  margin-right: 15px !important;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#36333300), to(#000000b6)), url("../image/naraka.jpeg");
  background-image: linear-gradient(#36333300, #000000b6), url("../image/naraka.jpeg");
}

.first-swipe .swiper-wrapper .third-card {
  margin-right: 15px !important;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#36333300), to(#000000b6)), url("../image/genshin.jpeg");
  background-image: linear-gradient(#36333300, #000000b6), url("../image/genshin.jpeg");
}

.first-swipe .swiper-wrapper .fourth-card {
  margin-right: 15px !important;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#36333300), to(#000000b6)), url("../image/r6.png");
  background-image: linear-gradient(#36333300, #000000b6), url("../image/r6.png");
}

.first-swipe .swiper-wrapper .fifth-card {
  margin-right: 15px !important;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#36333300), to(#000000b6)), url("../image/final-fantasy.jpeg");
  background-image: linear-gradient(#36333300, #000000b6), url("../image/final-fantasy.jpeg");
}

.first-swipe .swiper-wrapper .sixth-card {
  margin-right: 10px !important;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#36333300), to(#000000b6)), url("../image/kena.jpg");
  background-image: linear-gradient(#36333300, #000000b6), url("../image/kena.jpg");
}

.game-sale {
  height: 330px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 15px;
  margin-top: 50px;
}

.game-sale .text-button, .game-sale .free-section .free-text-button, .free-section .game-sale .free-text-button, .game-sale .third-swipe .swiper-third .free-text-button, .third-swipe .swiper-third .game-sale .free-text-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
}

.game-sale .text-button h6, .game-sale .free-section .free-text-button h6, .free-section .game-sale .free-text-button h6, .game-sale .third-swipe .swiper-third .free-text-button h6, .third-swipe .swiper-third .game-sale .free-text-button h6 {
  color: #F5F5F5;
  font-size: 18px;
  font-weight: 400;
}

.game-sale .sale-carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-bottom: 50px;
}

.game-sale .sale-carousel .voidtrain-sale div, .game-sale .sale-carousel .dead-cells-sale div, .game-sale .sale-carousel .warshmallows-sale div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.game-sale .sale-carousel .voidtrain-sale div p, .game-sale .sale-carousel .dead-cells-sale div p, .game-sale .sale-carousel .warshmallows-sale div p {
  font-size: 12px;
}

.game-sale .sale-carousel .voidtrain-sale div .sale-price, .game-sale .sale-carousel .dead-cells-sale div .sale-price, .game-sale .sale-carousel .warshmallows-sale div .sale-price {
  color: #F5F5F599;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
}

.swiper {
  width: 100%;
  padding-left: 15px;
}

.swiper .swiper-wrapper .swiper-second {
  height: 400px;
  width: 328px;
  margin-top: 40px;
  margin-right: 0 !important;
}

.swiper .swiper-wrapper .swiper-second img {
  display: block;
  height: 176px;
  border-radius: 20px;
  margin-bottom: 15px;
}

.swiper .swiper-wrapper .swiper-second h5 {
  padding-left: 10px;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 15px;
}

.swiper .swiper-wrapper .swiper-second p {
  padding-left: 10px;
}

.swiper .swiper-wrapper .swiper-second p:not(:last-child) {
  margin-bottom: 20px;
  font-size: 15px;
  color: #F5F5F599;
}

.swiper .swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  color: #F5F5F5;
  opacity: 1;
  background: rgba(245, 245, 245, 0.384);
}

.swiper .swiper-pagination-bullet-active {
  background: whitesmoke;
}

.free-section {
  margin-top: 40px;
  width: 375px;
  height: 400px;
  background-color: #2a2a2a;
  padding: 30px 15px;
}

.free-section .free-game-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-bottom: 25px;
}

.free-section .free-game-list .gods-fall-sale .image-free {
  background-image: url("../image/gods-fall.jpg");
}

.free-section .free-game-list .gods-fall-sale div p {
  font-size: 14px;
}

.free-section .free-game-list .gods-fall-sale div .free-text {
  color: #F5F5F599;
}

.free-section .free-game-list .galactic-civ-sale .image-free {
  background-image: url("../image/gal-civ.jpg");
}

.free-section .free-game-list .galactic-civ-sale .image-free p {
  background-color: black;
}

.free-section .free-game-list .galactic-civ-sale div p {
  font-size: 14px;
}

.free-section .free-game-list .galactic-civ-sale div .free-text {
  color: #F5F5F599;
}

.third-swipe {
  margin-top: 50px;
  height: 650px;
}

.third-swipe .swiper-third {
  width: 300px;
  height: 600px;
  padding: 0  15px;
}

.third-swipe .swiper-third:not(:first-child) {
  border-left: 1px solid #2a2a2a;
}

.third-swipe .swiper-third:last-child {
  margin-right: 60px;
}

.rec-text {
  font-size: 18px;
  font-weight: 400;
  padding-left: 15px;
}

.fourth-swipe {
  margin-top: 50px;
  height: 400px;
}

.fourth-swipe .swiper-fourth:last-child {
  margin-right: 10px;
}
/*# sourceMappingURL=index-style.css.map */