* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #121212;
  font-family: 'Jost', sans-serif;
  color: #F5F5F5;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.carousel-cards-mobile, .carousel .carousel-div .first-card, .carousel .carousel-div .second-card, .carousel .carousel-div .third-card, .carousel .carousel-div .fourth-card, .carousel .carousel-div .fifth-card, .carousel .carousel-div .sixth-card {
  width: 330px;
  height: 440px;
  border-radius: 16px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.carousel-cards-mobile .detail, .carousel .carousel-div .first-card .detail, .carousel .carousel-div .second-card .detail, .carousel .carousel-div .third-card .detail, .carousel .carousel-div .fourth-card .detail, .carousel .carousel-div .fifth-card .detail, .carousel .carousel-div .sixth-card .detail {
  height: 195px;
  width: 100%;
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #f5f5f5;
}

.carousel-cards-mobile .detail .coming-date, .carousel .carousel-div .first-card .detail .coming-date, .carousel .carousel-div .second-card .detail .coming-date, .carousel .carousel-div .third-card .detail .coming-date, .carousel .carousel-div .fourth-card .detail .coming-date, .carousel .carousel-div .fifth-card .detail .coming-date, .carousel .carousel-div .sixth-card .detail .coming-date {
  font-size: 10px;
  margin-bottom: 8px;
  font-weight: 600;
}

.carousel-cards-mobile .detail .game-info, .carousel .carousel-div .first-card .detail .game-info, .carousel .carousel-div .second-card .detail .game-info, .carousel .carousel-div .third-card .detail .game-info, .carousel .carousel-div .fourth-card .detail .game-info, .carousel .carousel-div .fifth-card .detail .game-info, .carousel .carousel-div .sixth-card .detail .game-info {
  font-size: 16px;
  margin-bottom: 25px;
  line-height: 20px;
}

.carousel-cards-mobile .detail .start-price, .carousel .carousel-div .first-card .detail .start-price, .carousel .carousel-div .second-card .detail .start-price, .carousel .carousel-div .third-card .detail .start-price, .carousel .carousel-div .fourth-card .detail .start-price, .carousel .carousel-div .fifth-card .detail .start-price, .carousel .carousel-div .sixth-card .detail .start-price {
  font-size: 15px;
}

.carousel-cards-mobile .detail .price, .carousel .carousel-div .first-card .detail .price, .carousel .carousel-div .second-card .detail .price, .carousel .carousel-div .third-card .detail .price, .carousel .carousel-div .fourth-card .detail .price, .carousel .carousel-div .fifth-card .detail .price, .carousel .carousel-div .sixth-card .detail .price {
  font-size: 17px;
}

.sale-cards-size, .game-sale .sale-carousel .voidtrain-sale, .game-sale .sale-carousel .dead-cells-sale, .game-sale .sale-carousel .warshmallows-sale {
  width: 305px;
  height: 235px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sale-cards-size img, .game-sale .sale-carousel .voidtrain-sale img, .game-sale .sale-carousel .dead-cells-sale img, .game-sale .sale-carousel .warshmallows-sale img {
  height: 170px;
  border-radius: 5px;
}

.sale-box, .game-sale .sale-carousel .voidtrain-sale div a, .game-sale .sale-carousel .dead-cells-sale div a, .game-sale .sale-carousel .warshmallows-sale div a {
  background-color: #0078f2;
  padding: 5px 10px;
  color: #F5F5F5;
  width: 45px;
  font-size: 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  letter-spacing: 0.6px;
}

body {
  overflow-y: scroll;
  height: 2000px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 55px;
  background-color: #2a2a2a;
  padding-left: 15px;
}

header .navbar img {
  width: 30px;
}

header .navbar .hamburger-menu {
  width: 55px;
  height: 55px;
  background-color: #0078f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 10px 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .navbar .hamburger-menu .line {
  width: 35px;
  height: 2px;
  background-color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.right-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 340px;
  height: 93.2vh;
  background-color: #2a2a2a;
  position: fixed;
  z-index: 10;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.right-bar ul li {
  padding: 8px 28px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.right-bar ul li a {
  color: #E7E7E7;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 2px;
}

.right-bar div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.right-bar div .sign-lang {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 50px;
}

.right-bar div .sign-lang .sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 30px;
  width: 65%;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.right-bar div .sign-lang .sign i {
  color: #ccc;
  font-size: 25px;
}

.right-bar div .sign-lang .sign p {
  color: #E7E7E7;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 9px;
  letter-spacing: 1px;
}

.right-bar div .sign-lang .lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 35%;
}

.right-bar div .sign-lang .lang i {
  color: #ccc;
  font-size: 25px;
}

.right-bar div a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #0078f2;
  height: 55px;
  text-transform: uppercase;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  letter-spacing: 1px;
}

.search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #121212;
  width: 100%;
  height: 80px;
  color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9;
}

.search-bar .fa-search {
  color: grey;
  font-size: 18px;
  position: absolute;
  left: 30px;
}

.search-bar div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.search-bar div p {
  font-size: 14px;
}

.search-bar div .fa-chevron-down {
  font-size: 12px;
  margin-left: 10px;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.discover-menu {
  height: 235px;
  background-color: #121212;
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
  padding: 27px 12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 9;
}

.discover-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.discover-menu ul li {
  padding-bottom: 20px;
  font-size: 14px;
}

.discover-menu ul li:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.103);
}

.discover-menu ul li a {
  color: white;
}

.carousel {
  margin-top: 20px;
  height: 475px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 15px;
  overflow: hidden;
  position: relative;
}

.carousel .carousel-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  position: relative;
  left: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.carousel .carousel-div .first-card {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#36333300), to(#000000b6)), url(/image/gow.jpg);
  background-image: linear-gradient(#36333300, #000000b6), url(/image/gow.jpg);
}

.carousel .carousel-div .second-card {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#36333300), to(#000000b6)), url(/image/naraka.jpeg);
  background-image: linear-gradient(#36333300, #000000b6), url(/image/naraka.jpeg);
}

.carousel .carousel-div .third-card {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#36333300), to(#000000b6)), url(/image/genshin.jpeg);
  background-image: linear-gradient(#36333300, #000000b6), url(/image/genshin.jpeg);
}

.carousel .carousel-div .fourth-card {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#36333300), to(#000000b6)), url(/image/r6.png);
  background-image: linear-gradient(#36333300, #000000b6), url(/image/r6.png);
}

.carousel .carousel-div .fifth-card {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#36333300), to(#000000b6)), url(/image/final-fantasy.jpeg);
  background-image: linear-gradient(#36333300, #000000b6), url(/image/final-fantasy.jpeg);
}

.carousel .carousel-div .sixth-card {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#36333300), to(#000000b6)), url(/image/kena.jpg);
  background-image: linear-gradient(#36333300, #000000b6), url(/image/kena.jpg);
}

.carousel .carousel-buttons {
  position: absolute;
  bottom: 15px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.carousel .carousel-buttons .fa-circle {
  color: rgba(245, 245, 245, 0.384);
  font-size: 5px;
}

.game-sale {
  height: 330px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 15px;
  margin-top: 50px;
}

.game-sale .text-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
}

.game-sale .text-button h6 {
  color: #F5F5F5;
  font-size: 18px;
  font-weight: 400;
}

.game-sale .text-button a {
  padding: 5px 15px;
  font-size: 12px;
  color: #F5F5F5;
  text-transform: uppercase;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #F5F5F5;
  border-radius: 4px;
  letter-spacing: 0.8px;
}

.game-sale .sale-carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  overflow: scroll;
  padding-bottom: 50px;
}

.game-sale .sale-carousel .voidtrain-sale div, .game-sale .sale-carousel .dead-cells-sale div, .game-sale .sale-carousel .warshmallows-sale div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.game-sale .sale-carousel .voidtrain-sale div p, .game-sale .sale-carousel .dead-cells-sale div p, .game-sale .sale-carousel .warshmallows-sale div p {
  font-size: 12px;
}

.game-sale .sale-carousel .voidtrain-sale div .sale-price, .game-sale .sale-carousel .dead-cells-sale div .sale-price, .game-sale .sale-carousel .warshmallows-sale div .sale-price {
  color: #F5F5F599;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
}

.swiper {
  width: 100%;
}

.swiper .swiper-wrapper .swiper-slide {
  height: 400px;
  width: 328px;
  padding-left: 15px;
  margin-top: 40px;
  margin-right: 0 !important;
}

.swiper .swiper-wrapper .swiper-slide img {
  display: block;
  height: 176px;
  border-radius: 20px;
  margin-bottom: 15px;
}

.swiper .swiper-wrapper .swiper-slide h5 {
  padding-left: 10px;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 15px;
}

.swiper .swiper-wrapper .swiper-slide p {
  padding-left: 10px;
}

.swiper .swiper-wrapper .swiper-slide p:not(:last-child) {
  margin-bottom: 20px;
  font-size: 15px;
  color: #F5F5F599;
}

.swiper .swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  color: #F5F5F5;
  opacity: 1;
  background: rgba(245, 245, 245, 0.384);
}

.swiper .swiper-pagination-bullet-active {
  background: whitesmoke;
}
/*# sourceMappingURL=index-style.css.map */